name: testing

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
jobs:
  norminette:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Norminette
        run: |
          python3 -m pip install --upgrade pip
          pip install norminette==3.3.55

      - name: Run 'make norm'
        run: make norm
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential libcmocka-dev libx11-dev libxext-dev libbsd-dev

      - name: compilation check
        run: make

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential libcmocka-dev libx11-dev libxext-dev libbsd-dev

      - name: test check
        run: make test

  todo-fixme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check for TODO or FIXME
        run: ./CI/check.sh
